* {
    margin: 0;
    padding: 0;
}

body {
    background: f6f6f6;
    font-size: 14px;
}

.container {
    width: 60%;
    margin: 50px auto;
}

.contact-box {
    background: white;
    display: flex;
    border-radius: 15px;
}

.container .contact-box .contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}

.container .contact-box .contact-right {
    flex-basis: 40%;
    padding: 40px;
    background-color: #2c3954;
    color: white;
}


h1 {
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 30px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label {
    margin-bottom: 6px;
    display: block;
    color: black;
} 

button {
    background: #2c3954;
    color: white;
    width: 100px;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
}

.container .contact-box .contact-left h3 {
    color: #2c3954;
    font-weight: 600;
    margin-bottom: 30px;
}

.container .contact-box .contact-right h3 {
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}

tr td {
    padding-top: 20px;
} 

body {
    background: f6f6f6;
    font-size: 16px;
    font-family: 'Manrope', sans-serif;
}

.container {
    width: 60%;
    margin: 50px auto;
}

.container .contact-box {
    background: white;
    border: 3px solid #2c3954;
    display: flex;

}

.container .contact-box .contact-left {
    flex-basis: 60%;
    padding: 40px 60px;
}


h1 {
    margin-bottom: 10px;
}

.container p {
    margin-bottom: 30px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #2c3954;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

label {
    margin-bottom: 6px;
    display: block;
    color: black;
}

button {
    background: #2c3954;
    color: white;
    width: 100px;
    border: none;
    outline: none;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
}

.contact-left h3 {
    color: black;
    font-weight: 600;
    margin-bottom: 30px;
}

#contact-right h3 {
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}

tr td {
    padding-top: 20px;
}