/*-------------------------------DASHBOARD CSS-----------------------------------*/
body {
  margin: 0px;
  padding: 0px;
  background-color: white;
}

  header{
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-between;
  background-color:#14213D;
  align-items: center;
  position: relative;
}
header img{
  width: 210px;
  margin: -3px; 
  margin-left: 3px;
}
.leftSideNav ul{
  display: contents;
  list-style-type: none;
  overflow: hidden;
}
.leftSideNav li{
  display: block;
  text-align: center;
  list-style: none;
  display: inline-block;
  margin-left: 25px;
}
.leftSideNav a{
  text-decoration: none;
  color: #fff;
  transform: 0.2s;
}
.leftSideNav a:hover{
  background-color: #333333;
  padding: 10px;
  transition: 0.1s;
}
.rightSideNav {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-end;
align-content: center;
align-items: center;
}
.dropdown {
position: relative;
display: inline-block;
text-align: center;
line-height: 37px;
width: 100px;
height: 40px;
}
.dropbtn {
  background-color: #14213D;
color: white;
height: 100%;
border: none;
cursor: pointer;
width: 100%;
font-size: 17px;
}
.dropbtn:hover, .dropbtn:focus {
background-color:#333333;
}
.dropdown-content {
display: none;
position: absolute;
background-color: #FF8C00;
color: white;
z-index: 1;
border-bottom-left-radius: 10px;
width: 100px;
}
.dropdown-content a {
color: white;
padding: 5px;
text-decoration: none;
display: block;
}
.dropdown-content a:hover {
background-color: #333333;
color: white; 
}
.show {
  display:block;
}
/*---------------------------------------ACTUAL BODY------------------------------------------*/
.dashboardContent{
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  display: flex;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}
.leftSideDash {
  width:215px;
  text-align:left;
  float:left;	
  color:white;
  display:flex;
  align-items: center;
  background-color: #14213D;
  height:100vh;
  text-align:left;
  color:white;
}
.nav-container a{
display: block;
text-decoration: none;
align-items: center;
background-color: #14213D;
color: white;
text-transform: uppercase;
padding: 20px 0 20px 10px;
margin: 25px 0;
width: 200px;
letter-spacing: 1.5px;
position: relative;
font-size: 12px;
-webkit-box-shadow: 0px 0px 1px 0px gray;
-moz-box-shadow: 0px 0px 1px 0px gray;
box-shadow: 0px 0px 1px 0px gray;

/* margin-left: -140px; /
/ transition: 0.5s ease;*/
}

.nav-container a span{
float: right;
width: 70px;
height: 30px;
line-height: 50px;
text-align: center;
color:white;
background-color: #14213D;
position: absolute;
right: 0;
top: 15px;



}
.nav-container a span{
font-size: 30px;
}
/*.nav-container a:hover{
margin-left: 0px;
}*/

.rightSideDash {
width: 100%;
height: 100%;
text-align:left;
background-color: white;
float:right;
color:black;
}
.rightSideDash h1{
text-align: center;
margin-top: 40px;
margin-bottom: 60px;

}
table{
  width: 50%;
  border-collapse: collapse;
  margin: 0 auto;
}
th, td{
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #d3d3d3;
  
}
.edit{
  text-decoration: none;
  list-style: none;
  color: rgb(1, 110, 1);
}
.delete{
  text-decoration: none;
  list-style: none;
  color: rgb(255, 61, 61);
}

.edit:hover,
.delete:hover{
  text-decoration: underline;
}